
<div id="banner">
  <div class="userShowImg" style="background-image: url(<%= @user.image_url %>)"></div>
  <%#= image_tag @user.image_url, class:"userShowImg" %>
  <h2 class="userShowName">
    <%= @user.name %>
  </h2>
</div> 
<% if @user.organization != nil %> 
<p class="orgShow">
  <%= @user.organization.upcase %>
</p>
<% end %>
<div class="userStats">
  <h4>Vote Balance <%= @user.total_user_votes %></h4>
  <!-- <h4>Total Donations $<%#= @user.user_funds %></h4> -->
</div>

<% @posts.each do |post| %>
  <div class="row" id="post">
    <div class="small-12 columns" id="postImg" style="background-image: url(<%= post.image.url %>)">
      <div id="idTag">
        <%= image_tag post.user.image_url, class:"small-2 columns", id:"userThumb" %>
        <div id="posterName">
          <%= post.user.name %>
        </div>
      </div>
      <div class="small-12 columns" id="postTag">
        <strong><%= link_to post.title, post, style:"color: white" %></strong><br>
        <%= post.description[0,60]%>..
      </div>
    </div>

     <div class="small-9 columns indexVote">
      <!-- votes control -->
      <div class="vote upVote">
        <%#= post.up_votes %>
        <%= link_to vote_post_path(post, vote: true), method: 'post' do %>
          <h2>+</h2>
        <% end %> 
      </div>  
      <div class="vote downVote">
        <%= link_to vote_post_path(post, vote: false), method: 'post' do %>
          <h2>-</h2>
        <% end %> 
      </div> 

        <%#= post.down_votes %>
      <h4 class="indexVoteCount"><%= post.total_votes %> votes</h4>
    </div>  
    <h5 class="small-3 columns moreButton"><%= link_to "More", post %></h5>

  </div>  
<% end %>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
