<!-- <div class="row" id="banner">
  <h1>SUM OF THE PARTS</h1>
</div>  --> 

<h1>SUM OF THE PARTS</h1>

<% @posts.each do |post| %>
  <div class="row" id="post">
    <div class="small-12 columns" id="postImg" style="background-image: url(<%= post.image.url %>)">
      <div id="idTag">
        <%= image_tag post.user.image_url, class:"small-2 columns", id:"userThumb" %>
        <div id="posterName">
          <%= link_to post.user.name, user_path(post.user), style:"color: white" %>
        </div>
      </div>
      <div class="small-12 columns" id="postTag">
        <strong><%= link_to post.title, post, style:"color: white" %></strong><br>
        <%= post.description[0,70]%>..
      </div>
    </div>

    <div class="small-9 columns indexVote">
      <!-- votes control -->
        <%#= post.up_votes %>
      <%= link_to vote_post_path(post, vote: true), class:"vote upVote", method: 'post' do %>
        <h2>+</h2>
      <% end %> 

      <%= link_to vote_post_path(post, vote: false), class:"vote downVote",method: 'post' do %>
        <h2>-</h2>
      <% end %> 


        <%#= post.down_votes %>
      <strong><%= post.total_votes %> votes</strong>
    </div>  
      <h5 class="small-3 columns moreButton"><%= link_to "More", post %></h5>

  </div>  
<% end %>



