<div class="row" id="banner">
  <h1>SUM OF THE PARTS</h1>
</div>  
<% @posts.each do |post| %>
  <div class="row" id="post">
    <div class="small-12 columns" id="postImg" style="background-image: url(<%= post.image.url %>)">
      <div id="idTag">
        <%= image_tag post.user.image_url, class:"small-2 columns", id:"userThumb" %>
        <div id="posterName">
          <%= post.user.name %>
        </div>
      </div>
      <div class="small-12 columns" id="postTag">
        <strong><%= link_to post.title, post %></strong><br>
        <%= post.description[0,70]%>..
      </div>
    </div>

    <!-- votes control -->
    <button class="tiny button secondary vote">
      <%#= post.up_votes %>
      <%= link_to vote_post_path(post, vote: true), method: 'post' do %>
        <p>+</p>
      <% end %> 
    </button>  
    <button class="tiny button secondary vote">
      <%= link_to vote_post_path(post, vote: false), method: 'post' do %>
        <p>-</p>
      <% end %> 
    </button>   
      <%#= post.down_votes %>
      <%= post.total_votes %> votes
  </div>  
<% end %>



