<p id="notice"><%= notice %></p>

<div class="voteCount">
 	<%= @post.up_votes %>
 	<%= link_to vote_post_path(@post, vote: true), method: 'post' do %>
   		<strong>+</strong>
 	<% end %>  
 	| <%= @post.total_votes %> |
 	<%= link_to vote_post_path(@post, vote: false), method: 'post' do %>
   		<strong>-</strong>
 	<% end %>  
 	<%= @post.down_votes %>
</div>
 <br>

<%= image_tag @post.image %>
<p>
  <strong><%= @post.user.name %></strong>
</p>

<p>
  <%= @post.title %>
</p>

<p>
  <%= @post.description %>
</p>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>

<p>Comment</p>
<% @post.comments.each do |comment| %>
	<p><strong><%= comment.user.name %></strong><%= comment.body %></p>
<% end %>
<% if current_user %>
	<%= form_for([@post, @post.comments.build]) do |f| %>
		<%= f.text_field :body %>
		<%= f.submit %>
	<% end %>
<% else %>
	<%= link_to "Sign in to comment", "/auth/facebook" %>
<% end %>		
