<p id="notice"><%= notice %></p>

<!-- post details -->
<div class="row">
  <%= image_tag @post.image %>
  <%= image_tag @post.user.image_url, class:"small-2 columns", id:"userBigThumb" %>
  </div>  
  <div class="small-5 columns">
    <strong><h4><%= @post.title %></h4></strong>
    <%= @post.user.name %>
  </div>
  <div class="small-5 columns right"> 
      <!-- vote display and controls -->
    <!-- votes control -->
    <button class="tiny button secondary vote">
      <%#= post.up_votes %>
      <%= link_to vote_post_path(@post, vote: true), method: 'post' do %>
        <p>+</p>
      <% end %> 
    </button>  
    <button class="tiny button secondary vote">
      <%= link_to vote_post_path(@post, vote: false), method: 'post' do %>
        <p>-</p>
      <% end %> 
    </button><br>   
      <%#= post.down_votes %>
      <%= @post.total_votes %> votes
  </div>  




  <br><br>
  <div class="small-12 columns"> 
    <br>
    <p><%= @post.description %></p>
  </div>

  <div class="small-6 columns"> 
    <!-- donate section -->
     <p>Funds raised $<%= @post.funds %></p>
    <%= form_tag post_donations_path(@post), method: 'post' do |f| %>
      <script src="https://checkout.stripe.com/checkout.js" class="stripe-button" style.display="none"
              style.visibility="hidden"
              data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
              data-description="A month's subscription"
              data-amount="500"></script>
    <% end %>
  </div>
</div>  

 <!-- comment section -->
<h5>Comment</h5>
<% @post.comments.each do |comment| %>
<div class="row">
  <div class="small-2 columns"
  <!-- comment voting -->
    <%= link_to post_comment_vote_path(comment.post, comment, vote: true), method: 'post' do %>
      <strong>+</strong>
    <% end %> | |  
    <%= link_to post_comment_vote_path(comment.post, comment, vote: false), method: 'post' do %>
        <strong>-</strong>
    <% end %>
  </div>    
	<strong><%= comment.user.name %></strong><%= comment.body %>
  <%= comment.total_votes %> backers
  </div>
<% end %>

<!-- if user is signed in allow new comment -->
<div class="small-12 columns">
  <% if current_user %>
  	<%= form_for([@post, @post.comments.build]) do |f| %>
  		<%= f.text_field :body, placeholder:"Comment" %>
  	<% end %>
  <% else %>
  	<%= link_to "Sign in to comment", "/auth/facebook" %>
  <% end %>	
</div>	

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>

