<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @post.description %>
</p>

<p>
  <strong>Image:</strong>
  <%= @post.image %>
</p>

<p>
  <strong>User:</strong>
  <%= @post.user_id %>
</p>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>

<p>Comment</p>
<% @post.comments.each do |comment| %>
	<%= comment.body %>
<% end %>

<%= form_for([@post, @post.comments.build]) do |f| %>
	<%= f.label :body %>
	<%= f.text_area :body %>
	<%= f.submit %>
<% end %>	
