
  <div class="row" id="post">
    <h2 class="small-8 columns"><%= @post.title %></h2>
    <div id="voteCount" class="small-4 columns">
      <%= @post.total_votes %> votes
    </div>  
    <div class="row">
      <%= image_tag @post.image %>
    </div>
    
    <div class="small-7 columns">
      <%= image_tag @post.user.image_url, id:"userBigThumb" %>
      <div id="posterNameDark">
        <strong><%= @post.user.name %></strong>
      </div>
    </div>    

    <!-- votes control -->
    <div id="voteControls" class="small-5 columns right">
      <div class="vote upVote">
        <%#= post.up_votes %>
        <%= link_to vote_post_path(@post, vote: true), method: 'post' do %>
          <h2>+</h2>
        <% end %> 
      </div>  
      <div class="vote downVote">
        <%= link_to vote_post_path(@post, vote: false), method: 'post' do %>
          <h2>-</h2>
        <% end %> 
      </div>
    </div>
    <br>
    <br>     
      <%#= post.down_votes %>

    <p class="small-12 columns"><br>
    <br> <%= @post.description %></p>      
    


    <div class="row"> 
      <!-- donate section -->
       <p class="small-12 columns">Funds raised $<%= @post.funds %></p>
      <%= form_tag post_donations_path(@post), method: 'post' do |f| %>
        <div class="small-12 columns donate-button">
          <script src="https://checkout.stripe.com/checkout.js" class="stripe-button" style.display="none"
                  style.visibility="hidden"
                  data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
                  data-description="A month's subscription"
                  data-amount="500">
          </script>
        </div>  
      <% end %>
    </div>
  </div>

 <!-- comment section -->

  <% if current_user %>
    <%= form_for([@post, @post.comments.build]) do |f| %>
      <%= f.text_field :body, placeholder:"Comment", class:"small-12 columns" %>
    <% end %>
  <% else %>
    <%= link_to "Sign in to comment", "/auth/facebook" %>
  <% end %><br><br>

<% @post.comments.all.sort_by{|x| x.total_votes}.reverse.each do |comment| %>
  <div class="row"> 
    <!-- comments -->
    <div class="small-7 columns">
      <%= image_tag comment.user.image_url, id:"logThumb" %>
      <strong><%= link_to comment.user.name, user_path %></strong>
    </div>  
      <div id="voteControls" class="small-5 columns right">
        <div class="vote upVote">
          <%#= post.up_votes %>
          <%= link_to post_comment_vote_path(comment.post, comment, vote: true), method: 'post' do %>
            <h3>+</h3>
          <% end %>
        </div>      
        <div class="vote downVote">
          <%#= post.up_votes %>
          <%= link_to post_comment_vote_path(comment.post, comment, vote: false), method: 'post' do %>
            <h3>-</h3>
          <% end %>
        </div>  
      </div>
      <p class="small-7 columns"><%= comment.body %></p>
  <p class="small-5 columns right comment-body"><%= comment.total_votes %> backers</p> 
</div>  
<% end %>
 
<!-- if user is signed in allow new comment -->






<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>


