
  <div class="row" id="post">
    <h2 class="small-8 columns"><%= @post.title %></h2>
    <div id="voteCount" class="small-4 columns">
      <%= @post.total_votes %> votes
    </div>  
    <div class="row">
      <%= image_tag @post.image %>
    </div>
    
    <div class="small-7 columns">
      <%= image_tag @post.user.image_url, id:"userBigThumb" %>
      <div id="posterName">
        <%= @post.user.name %>
      </div>
    </div>    

    <!-- votes control -->
    <div id="voteControls" class="small-5 columns right">
      <div class="vote upVote">
        <%#= post.up_votes %>
        <%= link_to vote_post_path(@post, vote: true), method: 'post' do %>
          <h2>+</h2>
        <% end %> 
      </div>  
      <div class="vote downVote">
        <%= link_to vote_post_path(@post, vote: false), method: 'post' do %>
          <h2>-</h2>
        <% end %> 
      </div>
    </div>     
      <%#= post.down_votes %>

    <p class="small-12 columns"><%= @post.description %></p>      
    


    <div class="small-6 columns"> 
      <!-- donate section -->
       <p>Funds raised $<%= @post.funds %></p>
      <%= form_tag post_donations_path(@post), method: 'post' do |f| %>
        <script src="https://checkout.stripe.com/checkout.js" class="stripe-button" style.display="none"
                style.visibility="hidden"
                data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
                data-description="A month's subscription"
                data-amount="500"></script>
      <% end %>
    </div>
  </div>

 <!-- comment section -->

<h3>Comments</h3>
<% @post.comments.each do |comment| %>
  <div class="row"> 
    <!-- comments -->
    <div class="small-12 columns">
    	<div class="small-7 columns"><%= link_to comment.user.name, user_path %></strong>
      <div class="small-5 columns right">
        <button class="tiny button secondary vote">
          <%#= post.up_votes %>
          <%= link_to post_comment_vote_path(comment.post, comment, vote: false), method: 'post' do %>
            <strong>-</strong>
          <% end %>
        </button> 
        <button class="tiny button secondary vote">
          <%#= post.up_votes %>
        <%= link_to post_comment_vote_path(comment.post, comment, vote: true), method: 'post' do %>
          <strong>+</strong>
        <% end %>
      </button>
    </div>  
      <p class="small-7 columns"><%= comment.body %></p>
      <p class="small-5 columns right"><%= comment.total_votes %> backers</p>
  </div> 
</div>  
<% end %>
 
<!-- if user is signed in allow new comment -->

  <% if current_user %>
  	<%= form_for([@post, @post.comments.build]) do |f| %>
  		<%= f.text_field :body, placeholder:"Comment", class:"small-12 columns" %>
  	<% end %>
  <% else %>
  	<%= link_to "Sign in to comment", "/auth/facebook" %>
  <% end %>




<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>


