<!-- <div class="row" id="banner" style="background-image: url(https://d13yacurqjgara.cloudfront.net/users/87578/screenshots/376168/korol_const_ph.jpg)">
  <h1><%= @categories.name %></h1>
</div>  --> 

<h1><%= @categories.name %></h1>

<% @posts.each do |post| %>
  <div class="row" id="post">
    <div class="small-12 columns" id="postImg" style="background-image: url(<%= post.image.url %>)">
      <div id="idTag">
        <%= image_tag post.user.image_url, class:"small-2 columns", id:"userThumb" %>
        <div id="posterName">
          <%= post.user.name %>
        </div>
      </div>
      <div class="small-12 columns" id="postTag">
        <strong><%= link_to post.title, post %></strong><br>
        <%= post.description[0,70]%>..
      </div>
    </div>
    <div>
      <%= post.up_votes %>
      <%= link_to vote_post_path(post, vote: true), method: 'post' do %>
        <strong>+</strong>
      <% end %>  
      | <%= post.total_votes %> |
      <%= link_to vote_post_path(post, vote: false), method: 'post' do %>
        <strong>-</strong>
      <% end %>  
      <%= post.down_votes %>
    </div>
  </div>  
<% end %>