<p id="notice"><%= notice %></p>

<h1><%= @categories.name %></h1>

<%= link_to "Back to Categories", categories_path %>


    <% @posts.each do |post| %>
      <div class="row">
        <div>
          <%= post.up_votes %>
          <%= link_to vote_post_path(post, vote: true), method: 'post' do %>
            <strong>+</strong>
          <% end %>  
          | <%= post.total_votes %> |
          <%= link_to vote_post_path(post, vote: false), method: 'post' do %>
            <strong>-</strong>
          <% end %>  
          <%= post.down_votes %>
        </div>
        <div id="postImg">
          <%= image_tag post.image.url(:med), class: "small-12 large-2 columns" %>
        </div>
        <div><strong><%= link_to post.title, post %></strong></div>
        <div><%= post.description %></div>
      </div>  
    <% end %>


<%= link_to 'New Post', new_post_path %>