<!DOCTYPE html>
<html>
<head>
  <title>SOTPS</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag "vendor/modernizr" %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <%= csrf_meta_tags %>
</head>
<body>
	<nav class="hide-for-large-up">
	<% if current_user %>
		<%= image_tag current_user.image_url, id:"logThumb" %>
	<% end %>

	<h2 id="menuHead">SOTPS</h2>

	<% if current_user %>
		<nav>
			<div id="navTop"><strong>Menu<strong></div>
			<div id="menuToggle">
	  			<div class="row"><strong>Hi <%= current_user.name %></strong></div>
	  			<div class="row"><%= link_to 'Main', posts_path %></div>
	  			<div class="row"><%= link_to 'New Post', new_post_path %></div>
	  			<div class="row"><%= link_to "Categories", categories_path %></div>
	  			<div class="row"><%= link_to "Sign Out", signout_path, id: "sign_out" %></div>
  			</div>
		</nav>		
	<% else %>
		<%= link_to "Sign in", "/auth/facebook", id: "sign_in" %>
	<% end %>
	</nav>

	<div class="large-9 columns">
		<div class="mainWrap">
			<%= yield %>
		</div>	
	</div>	

	<nav class="show-for-large-up large-3 columns" id="side-nav">
		<div class="row"><h3>SOTPS</h3></div>
		<% if current_user %>
			<%= image_tag current_user.image_url, id:"logThumb" %>
		<% end %>


		<% if current_user %>
	  		<strong>Hi <%= current_user.name %></strong>
	  		<div class="row"><%= link_to 'Main', posts_path %></div>
	  		<div class="row"><%= link_to 'New Post', new_post_path %></div>
	  		<div class="row"><%= link_to "Categories", categories_path %></div><hr>
	  		<div class="row"><%= link_to "Sign Out", signout_path, id: "sign_out" %></div><hr>		
		<% else %>
			<%= link_to "Sign in", "/auth/facebook", id: "sign_in" %>
		<% end %>
	</nav>

</body>
</html>
