<!DOCTYPE html>
<html>
<head>
  <title>SOTPS</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag "vendor/modernizr" %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <%= csrf_meta_tags %>
</head>
<body>

	<% render "nav_top" %>

	<div class="large-9 columns">
		<div class="mainWrap">
			<%= yield %>
		</div>	
	</div>	

	<nav class="show-for-large-up large-3 large-offset-9 columns" id="side-nav">
		<div class="row"><h2>SOTPS</h2></div>
		<% if current_user %>
			<%= image_tag current_user.image_url, id:"logThumb" %>
		<% end %>


		<% if current_user %>
	  		<strong>Hi <%= current_user.name %></strong>
	  		<div class="row">
		  		<div class="row"><%= link_to 'Main', posts_path %></div>
		  		<div class="row"><%= link_to 'New Post', new_post_path %></div>
		  		<div class="row"><%= link_to "Categories", categories_path %></div><hr>
		  		<div class="row"><%= link_to "Sign Out", signout_path, id: "sign_out" %></div><hr>
		  	</div>			
		<% else %>
			<h4 id="signinExt"><%= link_to "Sign in with Facebook", "/auth/facebook", id: "sign_in" %></h4>
		<% end %>
	</nav>

</body>
<footer class="visible-for-small-only">
</footer>
</html>
