<!DOCTYPE html>
<html>
<head>
  <title>SOTPS</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag "vendor/modernizr" %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <%= csrf_meta_tags %>
</head>
<body>
	<nav>
	<% if current_user %>
		<%= image_tag current_user.image_url, id:"logThumb" %>
	<% end %>


	<% if current_user %>
		<button data-dropdown="drop" aria-controls="drop" aria-expanded="false" class="small secondary dropdown" id="dropButt"><strong>Menu</strong></button>
		<ul id="drop" data-dropdown-content class="f-dropdown" role="menu" aria-hidden="false" tabindex="-1">
  			<li><strong>Hi <%= current_user.name %></strong></li>
  			<li><%= link_to 'New Post', new_post_path %></li>
  			<li><%= link_to "Categories", categories_path %></li>
  			<li><%= link_to "Sign Out", signout_path, id: "sign_out" %></li>
		</ul>		
	<% else %>
		<%= link_to "Sign in", "/auth/facebook", id: "sign_in" %>
	<% end %>
	</nav>		

<%= yield %>

</body>
</html>
