<!DOCTYPE html>
<html>
<head>
  <title>SOTPS</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag "vendor/modernizr" %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <%= csrf_meta_tags %>
</head>
<body>
	<nav class="hide-for-large-up">
	<% if current_user %>
		<%= image_tag current_user.image_url, id:"logThumb" %>
	<% end %>

	<h2 id="menuHead">SOTPS</h2>

	<% if current_user %>
		<nav>
			<h3 id="navTop">Menu</h3>
			<div id="menuToggle">
	  			<div class="row"><strong>Hi <%= current_user.name %></strong></div>
	  			<div class="row"><%= link_to 'Main', posts_path %></div>
	  			<div class="row"><%= link_to 'New Post', new_post_path %></div>
	  			<div class="row"><%= link_to "Categories", categories_path %></div>
	  			<div class="row"><%= link_to "Sign Out", signout_path, id: "sign_out" %></div>
  			</div>
		</nav>		
	<% else %>
		<h4 id="signIN"><%= link_to "Sign in with Facebook", "/auth/facebook" %>
		</h4>
	<% end %>
	</nav>

	<div class="large-9 columns">
		<div class="mainWrap">
			<%= yield %>
		</div>	
	</div>	

	<nav class="show-for-large-up large-3 large-offset-9 columns" id="side-nav">
		<div class="row"><h2>SOPS</h2></div>
		<% if current_user %>
			<%= image_tag current_user.image_url, id:"logThumb" %>
		<% end %>


		<% if current_user %>
	  		<strong>Hi <%= current_user.name %></strong>
	  		<div class="row">
		  		<div class="small-12 columns"><%= link_to 'Main', posts_path %></div>
		  		<div class="small-12 columns"><%= link_to 'New Post', new_post_path %></div>
		  		<div class="small-12 columns"><%= link_to "Categories", categories_path %></div><hr>
		  		<div class="small-12 columns"><%= link_to "Sign Out", signout_path, id: "sign_out" %></div><br><hr>
		  	</div>			
		<% else %>
			<h4 id="signinExt"><%= link_to "Sign in with Facebook", "/auth/facebook", id: "sign_in" %></h4>
		<% end %>
	</nav>

</body>
<footer class="visible-for-small-only">
</footer>
</html>
