<!DOCTYPE html>
<html>
<head>
  <title>SOTPS</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

	<% if current_user %>
		Signed in as <strong><%= current_user.name %></strong>
		<%= link_to "Sign Out", signout_path, id: "sign_out" %>
	<% else %>
		<%= link_to "Sign in", "/auth/facebook", id: "sign_in" %>
	<% end %>		

<%= yield %>

</body>
</html>
